# Database
DATABASE_URL=postgresql://neondb_owner:npg_xnRXNbIjk8d4@ep-soft-base-aqn7rwjc-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
# NextAuth
NEXTAUTH_SECRET=BGKTD0cDVDVU1vg2pXsjvnufR+0nKQEqs0iaCekifSA=
NEXTAUTH_URL=https://infinity-comanda-ai.vercel.app

# OpenAI (opcional - para Chat AI)
OPENAI_API_KEY="sua-chave-openai"

# Mercado Pago (opcional - para PIX real)
MERCADO_PAGO_ACCESS_TOKEN=""
